[auto-appstream]
name = CentOS {{ centos_version }} Stream Automotive (AppStream)
baseurl = https://{{ bucket }}.s3.{{ region }}.amazonaws.com/{{ id }}/{{ centos_version }}/AppStream/aarch64/os/
enabled = 1
gpgcheck = 0

[auto-baseos]
name = CentOS {{ centos_version }} Stream Automotive (BaseOS)
baseurl = https://{{ bucket }}.s3.{{ region }}.amazonaws.com/{{ id }}/{{ centos_version }}/BaseOS/aarch64/os/
enabled = 1
gpgcheck = 0

[auto-extras]
name = CentOS {{ centos_version }} Stream Automotive (extras)
baseurl = https://{{ bucket }}.s3.{{ region }}.amazonaws.com/{{ id }}/{{ centos_version }}/extras/aarch64/os/
enabled = 1
gpgcheck = 0
